body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inknut-antiqua: "Inknut Antiqua";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-base: 16px;
    --font-size-13xl: 32px;
  
    /* Colors */
    --color-gray: #232946;
    --color-white: #fff;
    --color-silver: #c1c1c1;
    --color-black: #000;
    --bkg: #232946;
    --dark: #121629;
    --purple: #b8c1ec;
    --pink: #eebbc3;
    --white: #fffffe;
  
    /* Gaps */
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-82xl-5: 101.5px;
    --padding-lg-5: 18.5px;
  }
  